
body{
    background-image: url(../img/slider-2.jpg);
}
.container {
    width: 30%;
    margin-top: 13%;
    box-shadow: 0 3px 20px rgba(0,0,0,0.3);
    padding: 50px;
    min-height: 200px;
    height: 200%;
}
i{
    width: 30%;
    margin-top: 13%;
    box-shadow: 0 3px 20px rgba(0,0,0,0.3);
    padding: 3px;
   
}

button {
    width: 48%;
    margin-top: 5%;
}
